{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Welcome to Blog</h2>
<p style="color: black;">Welcome back, <span class="username-style">{{ username }}!</span> Check out more exciting articles on Python Programming Language.</p>
<p style="background-color: rgb(70, 139, 139);text-align: center;font-weight: bolder;"><a href="https://flask.palletsprojects.com/en/2.2.x/">Introduction to Flask</a></p>
<p style="background-color: rgb(70, 139, 139); text-align: center;font-weight: bolder;"><a href="https://www.w3schools.com/python/python_functions.asp">Python Functions</a></p>
<p style="background-color: rgb(70, 139, 139); text-align: center; font-weight: bolder;"><a href="https://habr.com/ru/company/wunderfund/blog/586778/">Python and Docker</a></p>


{% endblock %}